<head>
	  <title>Minu kodukas!</title>
	  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	 <h1>Suur pealkiri</h1>
	 <h2>Keskmine pealkiri</h2>
	 <h3>Väike pealkiri</h3>
	 <h4>Veel väikse pealkiri</h4>
	 <p>Paragramm</p>
	 <ul>
	 	<ul>Esimene</ul> <!-- list item -->
	 	<li class="kastiga">Kolmas</li>
	 <ol> <!--ordered list -->
	 	<ol>Esimene</ol>
	 	<form>
	 	<input placeholder="Mis su nimi on?"/>
	 	<input type="checkbox"/>
	 	<input id="Nimi" name="">
	 	<input type="range" name= Range/>
	 	<input type="submit" name=""/>
	 	<input type="datetime-local" name=""/>
	 	<img class src="https://www.google.ee/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"/>
	 	<script src="script.js" =""></script>

	 </form>


</body>


